.nav-item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px;
  color: #000;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-item:hover {
  color: #000;
  text-decoration: none;
}

.nav-active {
  cursor: default;
  text-transform: uppercase;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.5);
}

.nav-item:last-child {
  border: none;
}
